/*Esye es el menu inferior*/

body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #231f3a;


}



#bottom {
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px;
    
    display: block;
    
    align-items: center;

}




#bottom li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    font-size: 25px;
    color: black;
    float: right;
    width: 50%;



}

#bottom img{
    border-radius: 100%;
    width: 75px ;
    height: 75px;
    float:right;}

#bottom li {
    display: inline-block;
    text-align: center;

}

#bottom li a:hover {
    background: white;

}

/*Es el inicio de la pagina con una imagen algo sencillo*/
#container {
    background-image: url('../imagenes/calculator-gb775ba3c5_1280.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .7);
    z-index: -1;

}

#container h1,
p {
    color: white;
    font: smaller;
    padding: 30px;
    text-align: center;


}


/*esto es para el icono*/

.fabri{
    
    border-radius: 100%;
    padding: 30px;
    size: 400px, 400px;
}

/*esto es del contenido que dice lo que ofrece la pagina y los servicios que va a llevar*/

.contenido h2 {

    margin: 10px 0;
    font-size: 150%;
    text-align: center;
    padding: 30px;
    color: white;

}

.contenido p {
    color: white;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1.2px;
    margin: 30px;
    margin-top: 25px;
}

/*esto es de las cards */

#cards{
    justify-content: center;
    position: block;
    height: 100vh;
    display: block;
    justify-content: space-between;
    height: 100vh;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto auto;
    flex-wrap: wrap;
    
    
    



}
 .btn{
    position: block;
    display:flex;
    flex-direction: initial;
    width: 400px;
    height: 350px;
    background-color: white;
    padding: 10px;          
    margin:30px;
    border-radius: 6%;
    flex-direction: column;
    align-items: center;
    
    
 }
 .btn img{
    width: 100px;
    height: 100px;
    

}


 .btn:hover{
    transform: translateX(3%);
    box-shadow: 5px 5px 20px 20px rgb(0, 0, 0, .6);

 }

 .btn h1 {
    
    
    font-size: 20px;
    color: black;

    
 }


 .btn p{
    position: relative;
    size-adjust: 10px;
    color: black;
    justify-content: center;
    font:smaller;
    text-align: justify;

 }


 /*Esto es del footer lo hixo aaron*/

 footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 40px;
    padding: 50px;
    display: block;
    margin-top: 150PX;
    align-items: center;
    
  }
footer img{
    width: 45px;
    height: 45px;
    display: inline-block;
    margin-right: 50px;
    margin: 10px;
    

    

}
.fabril{
    display: block;
    float: left;
    width: 200px;
    height: 200px;
   
    border-radius: 100%;
}

footer p{
    color: black;
}






