/*Esye es el menu inferior*/

body {
    margin: 0;
    padding: 0;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #231f3a;


}

footer {
    background-color: #ffa333;
}


#bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    color: #fff;
}




#bottom li a {
    text-decoration: none;
    display: block;
    color: white;
    padding: 20px;
    font-size: 25px;
    color: black;



}

#bottom li {
    display: inline-block;
    text-align: center;

}

#bottom li a:hover {
    background: white;

}

/*Es el inicio de la pagina con una imagen algo sencillo*/
#container {
    background-image: url('../imagenes/calculator-gb775ba3c5_1280.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
    z-index: -2;
}

#container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .7);
    z-index: -1;

}

#container h1,
p {
    color: white;
    font: smaller;
    padding: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;


}

/*esto es para el icono*/

.fabri{
    
    border-radius: 100%;
    padding: 30px;
    size: 400px, 400px;
}

/*esto es del contenido que dice lo que ofrece la pagina y los servicios que va a llevar*/

.contenido h2 {

    margin: 10px 0;
    font-size: 150%;
    text-align: center;
    padding: 30px;
    color: white;

}

.contenido p {
    color: white;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1.2px;
}

/*esto es de las cards */

#cards{
    justify-content: center;
    position: relative;
    overflow: hidden;
    
    
    



}
 .btn{
    position: inherit;
    display: inline-flex;
    width: 200px;
    height: 200px;
    background-color: white;
    padding: 20px;
    size-adjust:inherit;
    margin:30px;
    
 }

 .btn h1{
    position: inherit;
    padding: 10px;
    overflow-y: hidden;

 }






